* {
  margin: 0;
}

body {
  background-color: lightgrey;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app__h {
  color: red
}

.app_header > h1 {
  color: red;
  font-size: 2rem;
}
.app_dropdown {
  background-color: white;
}
.app_header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app_left {
  flex: 0.9;
}

.app_graph {
  flex-grow: 1;
}

.app_right {
  display: flex;
  flex-direction: column;
}

.app_graphTitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

.app_right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.app__table {
  margin-top: 20px;
  margin-bottom: 20px;
}
.app_stats {
  display: flex;
  justify-content: space-between;
}

.image {
  width: 300px;
  margin-top: 50px;
}

@media only screen and (max-width: 770px) {
  .app {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
  }
  .app_graph {
    flex-grow: 1;
  }


  .image {
    width: 50%;
    margin-top: 50px;
    margin-bottom: 20px;
  }
}

@media (max-width: 990px) {
  .app {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
  }
  .app_graph {
    flex-grow: 1;
  }
  .image {
    width: 50%;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-right: 20px;
  }
}
