.infoBox {
  flex: 1;
  cursor: pointer;
}

.infoBox:not(:last-child) {
  margin-right: 15px;
  margin-bottom: 10px;
}

.infoBox--selected {
  border-top: 10px solid greenyellow;
}

.infoBox--red {
  border-color: red;
  border-bottom-color: red ;
}

.infoBox_cases--green {
  color: lightgreen !important;
}

.infoBox_cases {
  color: #cc1034;
  font-weight: 600;
  font-size: 1.60rem;
  margin-bottom: 0.5rem;
}

.infoBox_cases > h2{
  color: green;
}

.infoBox_total {
  color: #6c757d;
  font-weight: 900 !important;
  font-size: 1.3rem !important;
  margin-bottom: 15px !important;
}
